body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-shadow: 0 2px 10px #00000061;
}

#wallpaper {
    background: url('../../xenEmulationStuff/wallpaper/wall.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#appSearchContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    z-index: 2;
    border-radius: 10px;
    padding: 20px 0;
    background-color: var(--search-background);
    width: 80%;
    transition: 350ms ease;
    box-shadow: var(--shadows);
}

#appSearchContainer.closed {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -130%);
}

#appSearchContainer #appsContainer {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

#appSearchContainer #appsContainer .hsApp {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#appSearchContainer #appsContainer .hsApp .hsAppName {
    font-size: 10px;
    pointer-events: none;
}

#appSearchContainer #appsContainer .hsApp img {
    height: 60px;
    width: 60px;
    pointer-events: none
}

#appSearchContainer #appsContainer .hsApp .hsAappBadge {
    display: none;
    pointer-events: none
}

#pageContainer .mainPageContainer.hide {
    opacity: 0;
    transform: translateY(-7vh);
}

#pageContainer .mainPageContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-14vh);
    transition: 350ms ease;
    width: 100%;
}

#pageContainer .mainPageContainer #homeHeader {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 350ms ease;
}

#pageContainer .mainPageContainer #homeHeader.hide {
    transform: translateY(140px);
}

.mainPageContainer #homeHeader #topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainPageContainer #homeHeader #topHeader #timeContainer {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.mainPageContainer #homeHeader #topHeader #timeContainer #digitalClock {
    font-size: 5vh;
    font-weight: bolder;
}

.mainPageContainer #homeHeader #topHeader #statusbarContainer {
    display: flex;
    margin-top: auto;
    pointer-events: none;
}

.mainPageContainer #homeHeader #topHeader #statusbarContainer img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    filter: drop-shadow(0 0 5px #000a);
}

.mainPageContainer #homeHeader #bottomHeader {
    transition: 350ms ease;
}

.mainPageContainer #homeHeader #bottomHeader #searchContainer {
    position: relative;
    background-color: var(--search-background);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: var(--shadows);
    transition: 350ms ease;
    display: flex;
    flex-direction: row;
}

.mainPageContainer #homeHeader #bottomHeader #searchContainer #searchIcon {
    background-image: url(../icons/widgetIcons/search.png);
    background-size: contain;
    width: 50px;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px #000a)
}

#searchTextField::-webkit-input-placeholder, #searchTextField::placeholder {
    color: #fffa;
    text-shadow: 0 2px 7px #0002;
    font-family: Manrope;
}

#pageContainer .mainPageContainer #weatherContainer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    transition: 350ms ease;
}

#pageContainer .mainPageContainer #weatherContainer.closed {
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
}

.mainPageContainer #weatherContainer .weatherBig, 
.mainPageContainer #weatherContainer .weatherSmall {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--search-background);
    border-radius: 10px;
    box-shadow: var(--shadows);
    height: 10.5vh;   
}

.mainPageContainer #weatherContainer .weatherBig {
    width: 100%;
    justify-content: flex-end;
}

.mainPageContainer #weatherContainer .weatherBig #condition {
    font-weight: bolder;
    font-size: 5vw;
}

.mainPageContainer #weatherContainer .weatherSmall {
    width: 40%;
    margin-left: 5%;
    text-align: center;
    justify-content: center;
    font-size: 3vw;
}

.mainPageContainer #weatherContainer .weatherSmall:before,
.mainPageContainer #weatherContainer .weatherBig:before, 
.mainPageContainer #homeHeader #bottomHeader #searchContainer:before,
.mainPageContainer #dockContainer .hsApp .hsAappBadge:before,
#drawerContainer:before, 
.menuBar .menuButtons.active:before, 
#appSearchContainer:before,
.mainPageContainer #fullNews:before,
.mainPageContainer #musicHeaderContainer #musicArtworkContainer #musicDecoration:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#weatherContainer .weatherSmall #icon {
    width: 40px;
    filter: invert() drop-shadow(0px 2px 5px #000a);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#pageContainer .mainPageContainer #dockContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
    transition: 350ms ease;
}

.mainPageContainer #dockContainer .hsApp {
   position: relative;
   width: 80px;
   height: 95px;
   margin-left: 5px;
   margin-right: 5px;
   transition: 350ms ease;
}

.mainPageContainer #dockContainer .hsApp img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    pointer-events: none;
    filter: drop-shadow(0 5px 10px #1a1b1ca0);
}

.mainPageContainer #dockContainer .hsApp .hsAappBadge {
    position: absolute;
    min-width:20px;
    height: 20px;
    left: 0px;
    top: -10px;
    background-color: var(--search-background);
    padding: 5px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: var(--shadows);
    font-size: 14px;
}

.mainPageContainer #dockContainer .hsApp .hsAppName {
    margin-bottom: 5px;
    font-size: 12px;
    pointer-events: none;
}

.menuBar {
    position: fixed;
    bottom: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.menuBar .menuButtons {
    position: relative;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms ease;
}

.menuBar .menuButtons.active {
    background-color: var(--search-background);
    box-shadow: var(--shadows);
}

.menuBar .menuButtons.active .menuIcons {
    filter: drop-shadow(0 0 5px);
}

.menuBar .menuButtons .menuIcons {
    background-size: contain;
    width: 30px;
    height: 30px;
    pointer-events: none;
}

#homeIcon {
    background-image: url(../icons/widgetIcons/home.png);
}

#musicIcon {
    background-image: url(../icons/widgetIcons/music.png);
}

#newsIcon {
    background-image: url(../icons/widgetIcons/news.png);
}

#drawerContainer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 60%;
    background-color: var(--search-background);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow:  0px -5px 10px #1a1b1ca0;
}

#drawerContainer #something {
    margin: 7px 0;
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 25px;
    color: #fffb;
    text-shadow: 0 0 5px;
}

#drawerContainer:before {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mainPageContainer #musicHeaderContainer {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -260%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mainPageContainer #musicHeaderContainer #musicArtworkContainer #musicDecoration {
    position: absolute;
    top: -55px;
    left: -30px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: var(--search-background);
    box-shadow: var(--shadows);
}

.mainPageContainer #musicHeaderContainer #musicArtworkContainer img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #1a1b1ca0)
}

.mainPageContainer #musicHeaderContainer #musicInfoContainer {
    position: absolute;
    top: 110%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
}

.mainPageContainer #musicHeaderContainer #musicInfoContainer div {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainPageContainer .musicButtonsContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
}

.mainPageContainer .musicButtonsContainer .musicButtons img {
    width: 60px;
    height: 60px;
    filter: invert() drop-shadow(0 0 10px #1a1b1ca0);
    pointer-events: none;
}

.mainPageContainer .musicButtonsContainer .musicButtons #playButtonIcon {
    width: 90px;
    height: 90px;
}

.mainPageContainer #newsHeader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mainPageContainer #newsHeader .heading {
    font-size: 50px;
    font-weight: bolder;
}

.mainPageContainer #newsHeadlines {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    margin-top: 20px;
}

.mainPageContainer #newsHeadlines .newsHeadlines {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.mainPageContainer #newsHeadlines .newsHeadlines .newsHeadlineDate {
    margin-bottom: 10px;
    font-size: 10px;
}

.mainPageContainer #newsHeadlines .newsHeadlines .theHeadline {
    position: relative;
    background-color: var(--search-background);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadows);
    font-size: 14px;
}

.mainPageContainer #newsHeadlines .newsHeadlines .theHeadline:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainPageContainer #fullNews {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 400px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--shadows);
    transition: 350ms ease;
    z-index: 5;
}

.mainPageContainer #fullNews.closed {
    opacity: 0;
    transform: translate(-50%, -40%);
    pointer-events: none;
}

.mainPageContainer #fullNews .newsHeader {
    display: flex;
    flex-direction: row;
    background-color: var(--background-secondary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--shadows);
}

.mainPageContainer #fullNews .newsHeader div {
    padding: 15px;
    background-color: var(--search-background);
    border-radius: 10px; 
    width: 100px;
    text-align: center;
    box-shadow: var(--shadows);
}

.mainPageContainer #fullNews .newsBody {
    padding: 20px;
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}

.mainPageContainer #fullNews .newsBody .heading {
    font-size: 20px;
    font-weight: bolder;
}

.mainPageContainer #fullNews .newsBody .content {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.mainPageContainer #fullNews .newsBody .content table tr {
    display: flex;
    flex-direction: column;
}

.mainPageContainer #fullNews .newsBody .content img {
    width: 100%;
}

.mainPageContainer #fullNews .newsBody .content a {
    color: var(--text-color);
}

/* iP5 */
@media only screen 
and (device-width : 320px) 
and (device-height : 568px) {
    #pageContainer .mainPageContainer {
        transform: translateY(-18vh);
    }
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(100px)
    }
    .mainPageContainer #homeHeader #topHeader #statusbarContainer img {
        width: 30px;
        height: 30px;
    }
    .mainPageContainer #dockContainer .hsApp {
        width: 60px;
    }
    .mainPageContainer #dockContainer .hsApp img {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer #dockContainer .hsApp .hsAappBadge {
        padding: 2px;
    }
    .menuBar {
        bottom: 10vh;
    }
    .menuBar .menuButtons {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer .musicButtonsContainer {
        transform: translate(-50%, -40%);
    }
    .mainPageContainer #musicHeaderContainer #musicArtworkContainer img,
    .mainPageContainer #musicHeaderContainer #musicArtworkContainer #musicDecoration  {
        width: 150px;
        height: 150px;
    }
    .mainPageContainer .musicButtonsContainer .musicButtons #playButtonIcon {
        width: 80px;
        height: 80px;
    }
    .mainPageContainer #fullNews .newsHeader div {
       padding: 3px;
    }
    .mainPageContainer #newsHeadlines {
        height: 55vh;
        margin-bottom: 30px;
    }
}

/* 6s */
@media only screen 
and (device-width : 375px) 
and (device-height : 667px) {
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(100px)
    }
    .mainPageContainer #homeHeader #topHeader #statusbarContainer img {
        width: 35px;
        height: 35px;
    }
    .mainPageContainer #dockContainer .hsApp {
        width: 70px;
    }
    .menuBar .menuButtons {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer .musicButtonsContainer {
        transform: translate(-50%, -40%);
    }
    .mainPageContainer #musicHeaderContainer #musicArtworkContainer img,
    .mainPageContainer #musicHeaderContainer #musicArtworkContainer #musicDecoration  {
        width: 150px;
        height: 150px;
    }
    .mainPageContainer .musicButtonsContainer .musicButtons #playButtonIcon {
        width: 80px;
        height: 80px;
    }
    .mainPageContainer #fullNews .newsHeader div {
       padding: 10px;
    }
    .mainPageContainer #newsHeadlines {
        height: 65vh;
        margin-bottom: 20px;
    }
}

/* iPX */
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) {
    #pageContainer .mainPageContainer {
        transform: translateY(-14vh);
    }
    .mainPageContainer #homeHeader #topHeader #statusbarContainer img {
        width: 35px;
        height: 35px;
    }
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(120px)
    }
    .mainPageContainer #dockContainer .hsApp {
        width: 70px;
    }
    .menuBar .menuButtons {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer #fullNews .newsHeader div {
       padding: 10px;
    }
}

/* 6sPlus */
@media only screen 
and (device-width : 414px) 
and (device-height : 736px) {
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(120px)
    }
    .menuBar .menuButtons {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer #fullNews .newsHeader div {
       padding: 15px;
    }
    .mainPageContainer #newsHeadlines {
        height: 65vh;
        margin-bottom: 20px;
    }
}

/* 12/12pro */
@media only screen 
and (device-width : 390px) 
and (device-height : 844px) {
     #pageContainer .mainPageContainer {
        transform: translateY(-14vh);
    }
    .mainPageContainer #homeHeader #topHeader #statusbarContainer img {
        width: 35px;
        height: 35px;
    }
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(120px)
    }
    .mainPageContainer #dockContainer .hsApp {
        width: 70px;
    }
    .menuBar .menuButtons {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer #fullNews .newsHeader div {
       padding: 10px;
    }
}

/* 12 mini */
@media only screen 
and (device-width : 360px) 
and (device-height : 780px) {
    #pageContainer .mainPageContainer {
        transform: translateY(-14vh);
    }
    .mainPageContainer #homeHeader #topHeader #statusbarContainer img {
        width: 35px;
        height: 35px;
    }
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(120px)
    }
    .mainPageContainer #dockContainer .hsApp {
        width: 65px;
    }
    .menuBar .menuButtons {
        width: 40px;
        height: 40px;
    }
    .mainPageContainer #fullNews .newsHeader div {
       padding: 10px;
    }
    .mainPageContainer #newsHeadlines {
        height: 65vh;
        margin-bottom: 15px;
    }
}

/* 11promax/xsmax */ 
@media only screen 
and (device-width : 414px) 
and (device-height : 896px) {
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: translateY(120px)
    }
}

/*portrait iPad Pro*/
@media only screen 
and (device-width : 1024px) 
and (device-height : 1366px) {
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: unset!important;
    }
    #pageContainer .mainPageContainer #homeHeader {
        width: 40%;
        margin-left: 100px;
    }
    #pageContainer .mainPageContainer {
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
    }
    #pageContainer .mainPageContainer #weatherContainer {
        flex: 1 1;
        margin: auto 100px 0;
        margin-left: 25px;
    }
    #pageContainer .mainPageContainer #weatherContainer #weatherInfo, #pageContainer .mainPageContainer #weatherContainer #weatherInfo2 {
        height: 8vh;
    }
    #pageContainer .mainPageContainer #weatherContainer #condition {
        font-size: 2vh;
    }
    #pageContainer .mainPageContainer #weatherContainer #weatherInfo2 #condition {
        font-size: 1vh;
    }
    #pageContainer .mainPageContainer #dockContainer {
        flex: 1 1 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }
    #searchTextField {
        height: 4vh;
    }
    .mainPageContainer #musicHeaderContainer {
        top: unset;
        left: unset;
        position: unset;
        transform: unset;
        position: absolute;
        top: -70%;
        margin-left: 10vw;
    }
    .mainPageContainer .musicButtonsContainer {
        bottom: unset;
        left: unset;
        transform: unset;
        position: unset;
        margin-left: 9.5vw;
    }
    #drawerContainer {
        width: 35%;
    }
}

/*landscape iPad Pro*/
@media only screen 
and (device-width : 1366px) 
and (device-height : 1024px) {
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: unset!important;
    }
    #pageContainer .mainPageContainer #homeHeader {
        width: 40%;
        margin-left: 200px;
    }
    #pageContainer .mainPageContainer {
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
    }
    #pageContainer .mainPageContainer #weatherContainer {
        flex: 1 1;
        margin: auto 200px 0;
        margin-left: 25px;
    }
    #pageContainer .mainPageContainer #weatherContainer #condition {
        font-size: 3vh;
    }
    #pageContainer .mainPageContainer #weatherContainer #weatherInfo2 #condition {
        font-size: 1.5vh;
    }
    #pageContainer .mainPageContainer #dockContainer {
        flex: 1 1 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }
    #searchTextField {
        height: 4vh;
    }
    .mainPageContainer #musicHeaderContainer {
        top: unset;
        left: unset;
        position: unset;
        transform: unset;
        position: absolute;
        top: -100%;
        margin-left: 5.5vw;
    }
    .mainPageContainer .musicButtonsContainer {
        bottom: unset;
        left: unset;
        transform: unset;
        position: unset;
        margin-left: 5vw;
    }
    #drawerContainer {
        width: 25%;
    }
}

/*portrait iPad Third & Fourth Generation, iPad Air 1 & 2, iPad Mini 2 & 3, iPad Mini*/
@media only screen 
and (device-width : 768px) 
and (device-height : 1024px) {
    #pageContainer .mainPageContainer #homeHeader.hide {
        transform: unset!important;
    }
    #pageContainer .mainPageContainer #homeHeader {
        width: 40%;
        margin-left: 25px;
    }
    #pageContainer .mainPageContainer {
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
    }
    #pageContainer .mainPageContainer #weatherContainer {
        flex: 1 1;
        margin: auto 25px 0;
        margin-left: 25px;
    }
    #pageContainer .mainPageContainer #weatherContainer #condition {
        font-size: 3vh;
    }
    #pageContainer .mainPageContainer #weatherContainer #weatherInfo2 #condition {
        font-size: 1.5vh;
    }
    #pageContainer .mainPageContainer #dockContainer {
        flex: 1 1 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }
    #searchTextField {
        height: 4vh;
    }
    .mainPageContainer #musicHeaderContainer {
        top: unset;
        left: unset;
        position: unset;
        transform: unset;
        position: absolute;
        top: -100%;
        margin-left: 10vw;
    }
    .mainPageContainer .musicButtonsContainer {
        bottom: unset;
        left: unset;
        transform: unset;
        position: unset;
        margin-left: 9.5vw;
    }
    #drawerContainer {
        width: 35%;
    }
}

/*landscape iPad Third & Fourth Generation, iPad Air 1 & 2, iPad Mini 2 & 3, iPad Mini*/
@media only screen 
and (device-width : 1024px) 
and (device-height : 768px) {
     #pageContainer .mainPageContainer #homeHeader.hide {
        transform: unset!important;
    }
    #pageContainer .mainPageContainer #homeHeader {
        width: 40%;
        margin-left: 130px;
    }
    #pageContainer .mainPageContainer {
        flex-direction: row;
        flex-wrap: wrap;
        flex-direction: center;
        align-items: center;
    }
    #pageContainer .mainPageContainer #weatherContainer {
        flex: 1 1;
        margin: auto 130px 0;
        margin-left: 25px;
    }
    #pageContainer .mainPageContainer #weatherContainer #condition {
        font-size: 3vh;
    }
    #pageContainer .mainPageContainer #weatherContainer #weatherInfo2 #condition {
        font-size: 1.5vh;
    }
    #pageContainer .mainPageContainer #dockContainer {
        flex: 1 1 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }
    #searchTextField {
        height: 4vh;
    }
    .mainPageContainer #musicHeaderContainer {
        top: unset;
        left: unset;
        position: unset;
        transform: unset;
        position: absolute;
        top: -100%;
        margin-left: 5.5vw;
    }
    .mainPageContainer .musicButtonsContainer {
        bottom: unset;
        left: unset;
        transform: unset;
        position: unset;
        margin-left: 5vw;
    }
    #drawerContainer {
        width: 25%;
    }
}